body {
  font-family: sans-serif;
}

.header {
  background-color: red;
}

.form {
  padding: 20px;
  width:400px;
  margin-top: auto;
  margin-right:auto;
  margin-left:auto;
  border:1px solid #000;
}

.form input {
  padding-right: 30px;
}